@import "./mixins";

.Logo {
  font-size: 30px;
  transition: font-size 0.3s;
  text-decoration: none;
  color: inherit;
}
.Logo-text {
  display: none;
  .larger-than-phablet({
    display: inline;
  });
}
