@import "./variables";
@import "./mixins";

.Logo {
  font-family: @titlesFont;
  font-size: 30px;
  transition: font-size 0.3s;
  text-decoration: none;
  &, &:hover, &:visited {
    color: inherit;
    text-decoration: none;
  }
}
.Logo-text {
  display: none;
  .larger-than-phablet({
    display: inline;
  });
}
