
.MobileViewPage {
  // HACKS all around
  // ================

  // Hide disambiguation box
  .hatnote { display: none; }
  .infobox { display: none; }
  sup.reference { display: none; }
  table { display: none; }
}
